# Windows
Thumbs.db 
Desktop.ini

# OSX
.DS_Store

#Eclipse
.project
.metadata
.classpath
.settings/
target/

#dev stuff
src/main/resources/Global/Profiles/Datatypes
src/main/resources/Global/Profiles/Segments



#old stuff
src/main/resources/Old_Contextbased/
src/main/resources/OLD_ContextFree/
src/main/resources/OLD_Documentation/
src/main/resources/OLD_Global/
src/main/resources/ProfileLibraries/
src/test/resources/CP/
src/test/resources/CS/
src/test/resources/msg.txt
src/test/resources/ValidationContext.xml
src/test/java/gov/nist/healthcare/mu/loi/TestConformanceStatements.java
src/test/java/gov/nist/healthcare/mu/loi/TestPackage.java
