.settings/
target/

# Windows
Thumbs.db 
Desktop.ini

# OSX
.DS_Store

#Eclipse
.project
.metadata
.classpath
.settings/
src/main/resources/Global/Tables/FIPS64_USL-1.csv
src/main/resources/Global/Tables/HL70001_USL-4.csv
src/main/resources/Global/Tables/HL70005_USL-3.csv
src/main/resources/Global/Tables/HL70008_USL-3.csv
src/main/resources/Global/Tables/HL70065_USL-1.csv
src/main/resources/Global/Tables/HL70078_USL-1.csv
src/main/resources/Global/Tables/HL70085_USL-2.csv
src/main/resources/Global/Tables/HL70103_USL-2.csv
src/main/resources/Global/Tables/HL70119_USL-3.csv
src/main/resources/Global/Tables/HL70123_USL-1.csv
src/main/resources/Global/Tables/HL70125_USL-4.csv
src/main/resources/Global/Tables/HL70155_USL-10.csv
src/main/resources/Global/Tables/HL70155_USL-11.csv
src/main/resources/Global/Tables/HL70155_USL-12.csv
src/main/resources/Global/Tables/HL70155_USL-7.csv
src/main/resources/Global/Tables/HL70155_USL-8.csv
src/main/resources/Global/Tables/HL70155_USL-9.csv
src/main/resources/Global/Tables/HL70189_USL-2.csv
src/main/resources/Global/Tables/HL70190_USL-9.csv
src/main/resources/Global/Tables/HL70191_USL-2.csv
src/main/resources/Global/Tables/HL70200_USL-11.csv
src/main/resources/Global/Tables/HL70200_USL-12.csv
src/main/resources/Global/Tables/HL70200_USL-13.csv
src/main/resources/Global/Tables/HL70200_USL-14.csv
src/main/resources/Global/Tables/HL70200_USL-15.csv
src/main/resources/Global/Tables/HL70203_USL-15.csv
src/main/resources/Global/Tables/HL70203_USL-16.csv
src/main/resources/Global/Tables/HL70203_USL-17.csv
src/main/resources/Global/Tables/HL70203_USL-18.csv
src/main/resources/Global/Tables/HL70203_USL-19.csv
src/main/resources/Global/Tables/HL70203_USL-20.csv
src/main/resources/Global/Tables/HL70203_USL-21.csv
src/main/resources/Global/Tables/HL70203_USL-22.csv
src/main/resources/Global/Tables/HL70203_USL-23.csv
src/main/resources/Global/Tables/HL70203_USL-24.csv
src/main/resources/Global/Tables/HL70291_USL-2.csv
src/main/resources/Global/Tables/HL70291_USL-2.zip
src/main/resources/Global/Tables/HL70299_USL-1.csv
src/main/resources/Global/Tables/HL70301_USL-5.csv
src/main/resources/Global/Tables/HL70301_USL-6.csv
src/main/resources/Global/Tables/HL70357_USL-3.csv
src/main/resources/Global/Tables/HL70361_USL-3.csv
src/main/resources/Global/Tables/HL70362_USL-5.csv
src/main/resources/Global/Tables/HL70362_USL-6.csv
src/main/resources/Global/Tables/HL70399_USL-9.csv
src/main/resources/Global/Tables/HL70411_USL-1.csv
src/main/resources/Global/Tables/HL70485_USL-2.csv
src/main/resources/Global/Tables/HL70487_USL-3.csv
src/main/resources/Global/Tables/HL70490_USL-1.csv
src/main/resources/Global/Tables/HL70493_USL-1.csv
src/main/resources/Global/Tables/HL70507_USL-1.csv
src/main/resources/Global/Tables/HL70516_USL-3.csv
src/main/resources/Global/Tables/HL70533_USL-2.csv
src/main/resources/Global/Tables/HL70916_USL-2.csv
src/main/resources/Global/Tables/HL70936_USL-2.csv
src/main/resources/Global/Tables/HL70937_USL-2.csv
src/main/resources/Global/Tables/LOINC_USL-6.csv
src/main/resources/Global/Tables/LOINC_USL-7.csv
src/main/resources/Global/Tables/NIST_HL70399_USL.csv
src/main/resources/Global/Tables/NIST_USPS_USL.csv
src/main/resources/Global/Tables/SNOMED_CT_USL-10.csv
src/main/resources/Global/Tables/SNOMED_CT_USL-11.csv
src/main/resources/Global/Tables/USPS_USL-9.csv
